<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" id="view-property-btn">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
  <div class="container mt-5">
    <h1 class="mb-4">Admin Page</h1>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Descyption</th>
          <th>Type</th>
          <th>Location</th>
          <th>Bedrooms</th>
          <th>Bathrooms</th>
          <th>Cost</th>
          <th>Maps</th>
          <th>Image</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- This is where the properties will be displayed -->

        can you modify this and use ejs       <tbody>
          {{#each properties}}
          <tr>
            <form method="POST" action="/approve/{{this.id}}">
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.description}}</td>
              <td>{{this.type}}</td>
              <td>{{this.location}}</td>
              <td>{{this.bedrooms}}</td>
              <td>{{this.bathrooms}}</td>
              <td>{{this.cost}}</td>
              <td>{{this.maps}}</td>
              <td>{{this.image}}</td>
              <td>{{this.status}}</td>
              <td>
                <button type="submit" class="approve-btn" data-id="{{this.id}}">Approve</button>
        
              </td>
            </form>
          </tr>
          {{/each}}
        </tbody>
        

    </table>
  </div>

  <!-- jQuery and Bootstrap JS -->
  <script>
 

  
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
